
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style --- onek gula item a same kaj kora thakle tar jonnno alada class like same type button */
.text-primary{
    color: #FD6E0A;
}
.dark1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
.contant-section{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-top: 130px;
}
.text-center{
    text-align: center;
}

/* header background image  */
/* .header-banner{
    background-image: url('../images/developer.png' , url('../images/header_bg.png'));

} */

/* navigation bar */
.navi-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px ;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul li{
    list-style: none;
    margin-right:50px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-contant{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-img{
    width: 580px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 50px;
}
/* about section  */
.about{
    display: flex;
    margin: 50px 250px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 0 auto;
    justify-content: center;

}
.parent-div-about{
    margin: 130px 160px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #000000;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
}
.info-desc{
    font-size: 20px;
    font-weight: bold;
}
/* skills section begains hare  */

.skill-title-desc{
    margin:130px 200px;
}
.section-desc{
    font-size: 18px; 
}

.skills-sec{
    display: flex;
    gap: 24px;
}
.parent-skills{
    padding: 35px;
    background-color: #f7e4e4;
    box-shadow: 0 6px 50px 0 #000000;
    border-radius: 8px;
}
/* hare start cv styles sections  */
.parent-cv{
    display: flex;
    gap: 70px;
    max-resolution: 130px 270px 130px 230px;

}
.cv-edu-title,.cv-exp-title{
    font-size: 30px;
    font-weight: bold;
}
.edu-name,.exp-name{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.edu-year,.exp-year{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
}
.edu-desc,.exp-desc{
    font-size: 16px;
    color: #757575;;
}
.cv-download{
   text-align: center;
   margin: 50px;
   border-radius: 5px;
}
/* footer section styles hare  */
.footer{
    background-color: #FFF8F3;
}
.parent-footer{
    display: flex;
    margin: 0 auto;
    
}
.connect-img{
    display: flex;
    
}
.part1{
    /* margin-left: 100px; */
    margin: 0 auto;
}
.part2{
    margin: 0 auto ;
}
.part2-2{
    justify-content: center;
}
.part-connect-desc{
    font-size: 16px;
}
.img-of-connect{
    margin:15px 24px 0px 0px ;
}
#input-field{
    width: 461px;
    height: 64px;
     border-radius: 5px;
    border: none;
    margin: 10px 0px;

}
#input-message{
    width: 461px;
    height: 180px;
    border-radius: 5px;
    border: none;
    margin: 10px 0px;
}
.big-input::placeholder {
  font-size: 1.5em;
  color: #777;
  font-weight: 500;
}




